* {
    --azul-claro: #00C1FF; 
    --azul-electrico: #4A00FF;
    --azul-medio: #3380b0;
    --purpura-profundo: #8A00FF;
    --negro-puro: #000000;
    --banco-puro: #ffffff;
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(247, 247, 247);
  background-color: #ffffff;
  margin: 0;
}

/* Header */
header {
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.galerialogo {
  height: 100px;
  width: 100px;
  object-fit: contain;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: var(--azul-electrico);
  font-size: 1.2rem;
  letter-spacing: 1px;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
  font-weight: 800;
}

.inicio-header{
background: url("imagen-header-nexora-tech.png")
    no-repeat center center/cover; /* No repeat evita efecto mosaico,cover hace que ocupe el 100% del div */
  height: 80vh;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  background-color: var(--azul-medio);
  padding: 30px 60px;
}

.iconos-redes-sociales {
  display: flex;
  gap: 15px;
}

.iconos-redes-sociales a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: 1px solid var(--banco-puro);
  border-radius: 50%;
  font-size: 18px;
}

.iconos-redes-sociales img {
  width: 18px;
  height: 18px;
  filter: invert(1);
}

.iconos-redes-sociales a:hover {
  background-color: var(--azul-electrico);
  transform: scale(1.1);
}

.links a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  margin: 0 5px;
  text-decoration: none;
}

.links a:hover {
  color: var(--azul-electrico);
}

.creditos {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 10px;
}
